// Color variables with descriptive names
$white                  :   #fff;
$black                  :   #000;
$grey                   :   #808080;
$darkgrey               :   #a9a9a9;
$razzmatazz             :   #F1246E;
